<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
<style>
   .q{
    color: green;
   }
</style>
</head>

<body>
    <div class="container">
    <table class="table table-darks table-striped">
        <thead>
            <tr>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>PHONE NO</th>
                <th>TRAIN NO</th>
                <th>STATUS</th>
                <th>SEAT TYPE</th>
                <th>PNR NO</th>
                <!-- <th>ACTION</th> -->
            </tr>
        </thead>
        <tbody>
            <% user.forEach(function(user){%>
                <tr>
                    <td>
                        <%=user.fname%>
                    </td>
                    <td>
                        <%=user.lname%>
                    </td>
                    <td>
                        <%= user.phoneno%>
                    </td>
                    <td>
                        <%= user.train_id%>
                    </td>
                    <td>
                        CONFIRMED
                    </td>
                    <td>
                        <%= user.seat_type%>
                    </td>
                    <td>
                        <%= user.pnr_no%>
                    </td>
                    <td>
                        
                        <!-- <a href="cancel/<%=user.id%>"><button class="btn btn-sm btn-danger">CANCEL TICKET</button></a> -->
                    </td>
                </tr>

                <%}); %>
        </tbody>
    </table>
</div>
</body>

</html>